<section class="sub">
    <h2>Be the first to know.</h2>
    <form>
        <input type="email" placeholder="Enter your email">
        <button type="submit">KEEP IN TOUCH</button>
    </form>
</section>