:root {
    --primary-color: #222;
    --accent-color: #ff3b30;
    --font-primary: 'Arial', sans-serif;
}

body {
    font-family: var(--font-primary);
    color: var(--primary-color);
    text-align: center;
    max-width: 1200px; /* Limits width */
    margin: 0 auto; /* Centers the page */
    overflow-x: hidden; /* Prevents horizontal scrolling */
    }


.hero {
    position: relative;
    text-align: center;
    color: var(--primary-color);
    font-size: 3rem;
    font-weight: bold;
    padding: 150px 20px;

    background-image: url('/images/camera.png'); /* Ensure correct path */
    background-size: cover; /* Ensures the image fills the container */
    background-position: center;
    background-repeat: no-repeat;
    height: 80vh; /* Adjust to fit most screens */
    display: flex;
    align-items: center;
    justify-content: center;
}

.features {
    padding: 20px;
}

.features ul {
    list-style: none;
    padding: 0;
}

.features li {
    font-size: 1.2rem;
    margin: 10px 0;
}

.subscribe  input {
    padding: 10px;
    width: 60%;
}

.subscribe button {
    background: var(--accent-color);
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}